<html lang="en">
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ultimate Fattle</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32992476-2']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
    <script type="text/javascript">
      var time_done = false;
 
      function update_fat(url) {
        var apiurl = url + 'api/weight/latest/';

        $.getJSON(apiurl, function(data) {
          if (data['latest_age'] > 0) {
              data['latest'] = '' + data['latest'] + ' (' + data['latest_age'] + ' days ago)';
          }
          data['url'] = url;
          var template = _.template($('#competitor_template').html(), data);      
          $('.container').append(template);
 
          if (!time_done) {
              var timetemplate = _.template($('#time_template').html(), data);
              $('.time').html(timetemplate);
              time_done=true;
          }
        });
      }
      update_fat('http://fatme.herokuapp.com/');
      update_fat('http://setae.herokuapp.com/');
    </script>
  </head>
<body>
<script type="text/template" id="competitor_template">
  <div class="row">
    <h2><a href="<%= url %>"><%= name %></a> <small>(click name for statistics)</small></h2>
    <div class="span2">
      <img src="<%= picture %>" alt="<%= name %>" />
    </div> 
    <div class="span10">
      <span class="badge" style="padding: 3px; float: left; width: 45px; text-align: center;"><%= percent_done %>%</span>
      <div class="progress">
        <div class="bar" style="width: <%= percent_done %>%"></div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Start</th>
            <th>Latest</th>
            <th>Goal</th>
            <th>kg</th>
            <th>%</th>
          <tr>
        </thead>
        <tbody>
          <tr>
            <td><%= start %></td>
            <td><%= latest %></td>
            <td><%= goal %></td>
            <td><%= diff %>/<%= goal_diff %></td>
            <td><%= percent_done %></td>
          </tr>
            <td>total <%= total_days %> days</td>
            <td><%= latest_days_left %> days left</td>
            <td><%= goal_date %></td>
            <td colspan="2">today <%= days_left %> days left</td>
          <tr>
          </tr>
        </tbody>        
      </table>
    </div>
  </div>
</script>
<script type="text/template" id="time_template">
    <h2>Time left</h2>
    <div class="span12">
      <span class="badge" style="padding: 3px; float: left; width: 45px; text-align: center;"><%= percent_days %>%</span>
      <div class="progress">
        <div class="bar" style="float: right; width: <%= percent_days %>%"></div>
      </div>
    </div>
</script>
<div class="container">
  <h1>The Ultimate Fattle 2013 <small>'til death</small></h1>
  <div class="row time">
  </div>
</html>

